.task{
    border: 1px solid darkgreen;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
}

.delete-btn:hover{
    background-color: forestgreen;
}