.task-input{
    margin-top: 50px;
    border: 2px solid green;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}
.task-input::placeholder{
    font-size: 18px;
}
.add-btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}
.add-btn:hover{
    background-color: forestgreen;
}